{% extends "master.html" %}
{% load static %}
{% block title %}
    All Books
{% endblock %}
{% block content %}
<h1>All books</h1>
<ul id="ul">
</ul>
<script>
const asyncGetCall = async () => {
    try {
        const response = await fetch('/api/books');
        const data = await response.json();
        console.log(data);
        for (let x =0; x < data.length; x++){
            console.log(x);
            document.getElementById("ul").innerHTML += "<li><a href='details/"+data[x].id+"'>"+data[x].BookName+"</a></li>";
        }
        } catch(error) {
            console.log(error);
      }
}
asyncGetCall()
</script>

{% endblock %}